body,
body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 4%;
}
#navbar {
  background-color: transparent; /* Color de fondo inicial (transparente) */
  transition: background-color 0.5s ease; /* Efecto de transición suave */
}

.logo-nav h1 {
  font-size: 1.5rem;
  margin-left: 2%;
  margin-top: 1%;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.decoracion {
  width: 60%;
}
.linea {
  border: none;
  height: 0.1rem;
  background: white;
  width: 100%;
  opacity: 100;
  margin: 0;
  margin-bottom: 3rem;
}
.about {
  padding-top: 3rem;
  color: white;
  background-color: black;
  padding-bottom: 3rem;
}

.iconos {
  background-color: darkturquoise;
  text-align: center;
  margin-bottom: 3%;
  padding: 2%;
}
.descripciones {
  display: flex;
  justify-content: center;
}

.destacados {
  background-color: black;
}

.card-img-top {
  height: 10rem;
}

.card-body {
  background-color: darkturquoise;
}
.card-text {
  color: white;
}

.contacto {
  background-color: #000000;
}

.form-label {
  color: white;
}
footer {
  background-color: darkturquoise;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rrss {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: auto;
}
.logo-bot {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding-top: 0.5rem;
}
.icono {
  padding-right: 1rem;
}
