footer {
	background-color: darkturquoise;
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.rrss {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	height: auto;
}
.logo-bot {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding-top: 0.5rem;
}
.icono {
	padding-right: 1rem;
}
